:root {
    --color-primary: #1cffa0;
    --color-neutral: #787878;
    --color-light-background: #f1f1f1;
    --color-dark-background: #161616;
    --color-light-text: #333;
    --color-dark-text: #b1b1b1;
}

body {
    width: 30em;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    color: var(--color-light-text);
    user-select: none;
}

hr {
    border-color: var(--color-primary);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', sans-serif;
}

.config-item,
.custom-styles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.custom-styles {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    display: none;
}

.custom-styles>textarea {
    width: 100%;
}

label,
select {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.radio-group input[type=radio] {
    display: none;
}

.radio-group label {
    display: inline-block;
    padding: 5px 15px;
}

.radio-group input[type=radio]:checked+label {
    color: white;
    background-color: var(--color-primary);
    font-weight: bold;
}

.radio-group label+input[type=radio]+label {
    border-left: solid 1px var(--color-neutral);
}

.radio-group {
    overflow: hidden;
    border: solid 1px var(--color-neutral);
    border-radius: 1em;
    background-color: var(--color-light-background);
}

.track {
    display: inline-block;
    height: 1em;
    width: 2em;
    background: var(--color-light-background);
    border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-neutral);
    padding: 5px;
    font-size: 1.2em;
}

.track input {
    position: absolute;
    display: none;
}

.thumb {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: var(--color-light-background);
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    transition: all 350ms;
}

.track input:checked+.thumb {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    background: var(--color-primary);
}

textarea,
select {
    padding: 8px;
    background-color: var(--color-light-background);
    border: 1px solid var(--color-neutral);
    border-radius: 1em;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.track:hover,
.radio-group:hover,
textarea:hover,
select:hover {
    border-color: var(--color-primary);
}

.track:focus,
.radio-group:focus,
textarea:focus,
select:focus {
    border-color: var(--color-primary);
    outline: none;
}

#footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #666;
}

#footer a {
    color: var(--color-primary);
    filter: brightness(80%);
    text-decoration: none;
}

#footer a:hover {
    color: var(--color-primary);
    filter: brightness(100%);
    text-decoration: underline;
}

.fab {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    padding: 12px;
    color: white;
    background-color: var(--color-primary);
    border-radius: 50px;
    transition: color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s;
}

.fab svg {
    fill: white;
}

.fab:hover::after {
    content: "Support";
    margin-left: 8px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--color-dark-text);
        background: var(--color-dark-background);
    }

    textarea,
    select,
    .radio-group,
    .track {
        background-color: var(--color-dark-background);
        color: var(--color-dark-text);
    }

    .radio-group input[type=radio]:checked+label {
        color: var(--color-dark-background);
    }

    .thumb {
        background-color: var(--color-neutral);
    }

    .fab {
        color: var(--color-dark-background);
    }

    .fab svg {
        fill: var(--color-dark-background);
    }
}